.boards{
    background: #89609E;
    background-size: cover;
    position: relative;
    height: 100vh;
}

nav{
    background: #745286 !important;
}

.brandBoard{
    display: inline-block;
    height: 32px;
    width: 110px;
}